<div class="container tracking-detail-content">
	<div class="row">
		<div class="column">
			<table border="2px solid #000">
				<tr>
					<td class="4,0"></td>
					<td class="4,1"></td>
					<td class="4,2"></td>
					<td class="4,3"></td>
					<td class="4,4"></td>
				</tr>
				<tr>
					<td class="3,0"></td>
					<td class="3,1"></td>
					<td class="3,2"></td>
					<td class="3,3"></td>
					<td class="3,4"></td>
				</tr>
				<tr>
					<td class="2,0"></td>
					<td class="2,1"></td>
					<td class="2,2"></td>
					<td class="2,3"></td>
					<td class="2,4"></td>
				</tr>
				<tr>
					<td class="1,0"></td>
					<td class="1,1"></td>
					<td class="1,2"></td>
					<td class="1,3"></td>
					<td class="1,4"></td>
				</tr>
				<tr>
					<td [ngClass]="{active: !shouldShow, inactive: shouldShow}" class="0,0"></td>
					<td class="0,1"></td>
					<td class="0,2"></td>
					<td class="0,3"></td>
					<td class="0,4"></td>
				</tr>
			</table>
		</div>
		<div class="column steps">
			<h2>Steps:</h2>
			<ul *ngFor = "let post of skills" >
				<li>{{ post.title}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="button-group">
			<button type="reset" class="btn btn-primary btn-sm" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false; shouldShow = !shouldShow; onPlay()">Play</button>
			<button type="reset" class="btn btn-success btn-sm" *ngIf="!isVisible" (click)="OnMove()">Move</button>

			<button type="reset" class="btn btn-info btn-sm" *ngIf="!isVisible" (click)="rotateImage('left')">rotate left 90</button>
			<button type="reset" class="btn btn-danger btn-sm" *ngIf="!isVisible" (click)="rotateImage('right')">rotate right 90</button>
		</div>
	</div>
</div>
